@import '~antd/dist/antd.css';

.logo {
  width: 220px;
  height: 31px;
  margin: 1px 24px 16px 0;
  float: left;
  color: yellow;
  font-size: 20px;
}
  
  
  .userlogin {
  width: 400px;
  height: 31px;
  margin: 1px 1px 1px 0;
  float: right;
  font-size: 20px;

  }