.change-password-form {
  
        font-family: 'Raleway', sans-serif;
        background-color:whitesmoke;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
