@import '~antd/dist/antd.css';

.change-password-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.change-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
    width: 300px;
}
